* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  font-size: 1.6rem;
}
.background-center {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
body {
  background-image: url(../img//background/background-unsplash.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  padding: 8rem 3rem;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 300;
  color: #333;
  line-height: 1.5;
}
.container {
  width: 100%;
  max-width: 1024px;
  margin: 0 auto;
  background-color: white;
  border-radius: 10px;
  overflow: hidden;
}
.secondary-heading {
  font-size: 2.6rem;
  color: #ee6787;
  margin-bottom: 2rem;
}
.secondary-heading--white {
  color: white;
}
.text {
  max-width: 46rem;
  margin: 0 auto;
  font-size: 1.8rem;
  margin-bottom: 3rem;
}
.text--white {
  color: white;
}
.header {
  padding: 2rem 3rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__brand {
  text-decoration: none;
  color: inherit;
}
.header__brand-title {
  color: black;
  transition: all .3s 0.15s;
}
.header__brand-author {
  color: #bdbdbd;
  transition: all .3s;
}
.header__brand:hover .header__brand-title,
.header__brand:hover .header__brand-author {
  color: #ee6787;
}
.hamburger {
  cursor: pointer;
}
.hamburger__line {
  width: 26px;
  height: 2px;
  background-color: #bdbdbd;
  display: block;
  transition: all 0.3s;
}
.hamburger__line:not(:last-child) {
  margin-bottom: 0.5rem;
}
.hamburger:hover .hamburger__line {
  background-color: #ee6787;
}
.cta {
  padding: 9rem 3rem;
  background-image: linear-gradient(to right, rgba(93, 108, 175, 0.45), rgba(75, 107, 247, 0.45)), url(../img/background/cta-unsplash.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-position: top;
  color: white;
  text-align: center;
}
.cta__box {
  padding: 5rem;
  background-image: linear-gradient(to right, rgba(240, 128, 128, 0.85), rgba(244, 165, 96, 0.85));
  max-width: 50rem;
  margin: 0 auto;
  border-radius: 10px;
}
.cta__heading {
  font-size: 3.2rem;
  margin-bottom: 2rem;
}
.cta__text {
  margin-bottom: 2rem;
}
.cta__button {
  text-decoration: none;
  color: white;
  font-size: 1.8rem;
  border: 2px solid white;
  padding: 1rem 2rem;
  border-radius: 5px;
  display: inline-block;
  transition: all 0.3s;
}
.cta__button:hover {
  background-color: rgba(255, 255, 255, 0.45);
}
.features {
  padding: 8rem 3rem;
  text-align: center;
}
.features__boxes {
  display: flex;
  justify-content: space-between;
  max-width: 60rem;
  position: relative;
  margin: 0 auto;
}
.features__boxes::after {
  content: '';
  width: 100%;
  height: 2px;
  background-color: #eee;
  top: 4.9rem;
  position: absolute;
}
.features__box {
  z-index: 3;
  background-color: white;
}
.features__box-icon {
  font-size: 4rem;
  color: lightcoral;
  width: 10rem;
  height: 10rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid #eee;
  border-radius: 50%;
  margin-bottom: 2rem;
}
.features__box-caption {
  font-size: 2rem;
}
.middle-hero {
  display: flex;
}
.middle-hero__left,
.middle-hero__right {
  width: 50%;
}
.middle-hero__left {
  padding: 7rem;
  background-image: linear-gradient(to right, #f08080, #f4a560);
}
.middle-hero__right {
  background-image: linear-gradient(to right, rgba(93, 108, 175, 0.45), rgba(75, 107, 247, 0.45)), url(../img/hero/hero1-unsplash.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.showcase {
  padding: 8rem 3rem;
  text-align: center;
}
.card {
  max-width: 50rem;
  margin: 0 auto;
  border: 2px solid #ccc;
  border-radius: 5px;
  overflow: hidden;
}
.card__img {
  display: block;
  max-width: 100%;
  height: auto;
}
.card__caption {
  padding: 1rem 0;
}
.pagination {
  display: flex;
  justify-content: center;
  margin-top: 3rem;
}
.pagination__dots {
  width: 1.2rem;
  height: 1.2rem;
  border-radius: 50%;
  border: 1px solid #ccc;
}
.pagination__dots:not(:last-child) {
  margin-right: 2rem;
}
.pagination__dots--selected {
  background-color: lightcoral;
  border: lightcoral;
}
.subscription {
  padding: 8rem 3rem;
  background-image: linear-gradient(to right, #937f8f, #5a6284);
  text-align: center;
}
.form {
  max-width: 50rem;
  margin: 0 auto;
  display: flex;
}
.form__input {
  flex-grow: 1;
  padding: 1.5rem;
  font-size: 1.8rem;
  background-color: transparent;
  border: 2px solid #eee;
  border-radius: 5px 0 0 5px;
  font-family: inherit;
  font-weight: inherit;
  caret-color: #fff;
}
.form__input::placeholder {
  color: #eee;
}
.form__button {
  background-color: #fff;
  border: 2px solid #fff;
  padding: 1rem 2rem;
  font-size: 1.8rem;
  color: #5a6284;
  border-radius: 0 5px 5px 0;
  font-family: inherit;
  font-weight: inherit;
  cursor: pointer;
}
.contact {
  padding: 8rem 3rem;
  text-align: center;
}
.contact__triptych {
  display: flex;
  max-width: 60rem;
  margin: 0 auto;
}
.panel {
  width: 33%;
}
.panel:not(:last-child) {
  border-right: 1px solid #ddd;
}
.panel__icon {
  font-size: 2.4rem;
  color: lightcoral;
  width: 5rem;
  height: 5rem;
  display: flex;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  border: 2px solid #eee;
  border-radius: 50%;
  margin-bottom: 2rem;
}
.panel__link {
  text-decoration: none;
  color: inherit;
  transition: all 0.3s;
  font-size: 1.8rem;
}
.panel__link:hover {
  color: lightcoral;
  border-bottom: 1px dashed lightcoral;
}
.panel__address {
  font-style: normal;
  font-size: 1.8rem;
}
.footer {
  padding: 3rem;
  display: flex;
  justify-content: space-between;
  background-color: #eee;
}
.footer__copyright {
  color: #777;
}
.footer__social-link {
  color: #777;
  text-decoration: none;
  transition: all 0.3s;
}
.footer__social-link:not(:last-child) {
  margin-right: 1rem;
}
.footer__social-link:hover {
  color: lightcoral;
}
