* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  font-size: 1.6rem;
}
.background-center {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
body {
  background-image: url(../img//background/background-unsplash.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding: 8rem 3rem;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 300;
  color: #333;
  line-height: 1.5;
}
.container {
  width: 100%;
  max-width: 1024px;
  margin: 0 auto;
  background-color: white;
  border-radius: 10px;
}
.secondary-heading {
  font-size: 2.6rem;
  color: #ee6787;
  margin-bottom: 2rem;
}
.text {
  max-width: 46rem;
  margin: 0 auto;
  font-size: 1.8rem;
  margin-bottom: 3rem;
}
.header {
  padding: 2rem 3rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__brand {
  text-decoration: none;
  color: inherit;
}
.header__brand-title {
  color: black;
  transition: all .3s 0.15s;
}
.header__brand-author {
  color: #bdbdbd;
  transition: all .3s;
}
.header__brand:hover .header__brand-title,
.header__brand:hover .header__brand-author {
  color: #ee6787;
}
.hamburger {
  cursor: pointer;
}
.hamburger__line {
  width: 26px;
  height: 2px;
  background-color: #bdbdbd;
  display: block;
  transition: all 0.3s;
}
.hamburger__line:not(:last-child) {
  margin-bottom: 0.5rem;
}
.hamburger:hover .hamburger__line {
  background-color: #ee6787;
}
.cta {
  padding: 9rem 3rem;
  background-image: linear-gradient(to right, rgba(93, 108, 175, 0.75), rgba(75, 107, 247, 0.75)), url(../img/background/cta-unsplash.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-position: top;
  color: white;
  text-align: center;
}
.cta__box {
  padding: 5rem;
  background-image: linear-gradient(to right, rgba(240, 128, 128, 0.85), rgba(244, 165, 96, 0.85));
  max-width: 50rem;
  margin: 0 auto;
  border-radius: 10px;
}
.cta__heading {
  font-size: 3.2rem;
  margin-bottom: 2rem;
}
.cta__text {
  margin-bottom: 2rem;
}
.cta__button {
  text-decoration: none;
  color: inherit;
  font-size: 1.8rem;
  border: 2px solid white;
  padding: 1rem 2rem;
  border-radius: 5px;
  display: inline-block;
  transition: all 0.3s;
}
.cta__button:hover {
  background-color: rgba(255, 255, 255, 0.45);
}
.features {
  padding: 8rem 3rem;
  text-align: center;
}
.features__boxes {
  display: flex;
  justify-content: center;
  position: relative;
  z-index: 40;
}
.features__boxes::after {
  content: '';
  width: 60%;
  height: 2px;
  background-color: #eee;
  top: 4.9rem;
  position: absolute;
}
.features__box {
  z-index: 3;
  background-color: white;
}
.features__box:not(:last-child) {
  margin-right: 8%;
}
.features__box-icon {
  font-size: 4rem;
  color: lightcoral;
  width: 10rem;
  height: 10rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid #eee;
  border-radius: 50%;
  margin-bottom: 2rem;
}
.features__box-caption {
  font-size: 2rem;
}
