* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  font-size: 1.6rem;
}
.background-center {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
body {
  background-image: url(../img//background/background-unsplash.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding: 3rem;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 300;
}
.container {
  width: 100%;
  max-width: 1024px;
  margin: 0 auto;
  background-color: white;
  border-radius: 10px;
}
.header {
  padding: 2rem 3rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__brand {
  text-decoration: none;
  color: inherit;
}
.header__brand-title {
  color: black;
  transition: all .3s 0.15s;
}
.header__brand-author {
  color: #bdbdbd;
  transition: all .3s;
}
.header__brand:hover .header__brand-title,
.header__brand:hover .header__brand-author {
  color: #ee6787;
}
.hamburger {
  cursor: pointer;
}
.hamburger__line {
  width: 26px;
  height: 2px;
  background-color: #bdbdbd;
  display: block;
  transition: all 0.3s;
}
.hamburger__line:not(:last-child) {
  margin-bottom: 0.5rem;
}
.hamburger:hover .hamburger__line {
  background-color: #ee6787;
}
