body {
    background-image: url(../img//background/background-unsplash.jpg);
    .background-center();
    padding: 8rem 3rem;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 300;
}

.container {
    width: 100%;
    max-width: 1024px;
    margin: 0 auto;
    background-color: white;
    border-radius: 10px;
}